/*
Author: Erling Tokheim
Author URI: http://erling.tokheim.no
Description: A simple portfolio page
Version: 1.0
License: All rights reserved
License URI: All rights reserved
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Setup
# Typography
# Header
# Mobile version
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Setup
--------------------------------------------------------------*/
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

img {
	max-width: 100%;
}

.row {
	margin: 15px -30px 0;
}


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
html {
	font-size: 100%;
}


h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}

h1 {
	font-weight: 100;
	font-size: 300%;
}

h2 {
	color: #2d3c49;
}

h3 {
	color: #7d97ad;
}

h4 {

}

.text-right {
	text-align: right;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
	border-bottom: 3px solid #7d97ad;
}

.logo {
	width: 125px;
	height: 125px;
	background-image: url("../img/logo.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;

	/* Gives the logo some padding */
	border: 30px solid transparent;
}

#header_title {
	margin: 15px 0 0 0;
	letter-spacing: 2;
}

#header_subtitle {
	margin: 0px 0;
	letter-spacing: 3;
	font-weight: 100;
}


/*--------------------------------------------------------------
# Featured
--------------------------------------------------------------*/
#hero_img, .featured_work_entry_img {
	min-width: 100%;
}

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media (max-width: 768px) {
	html {
		font-size: 80%;
	}
	
	#header_title {
		text-align: center;
	}

	#header_subtitle {
		margin-bottom: 30px;
		text-align: center;
	}

	.logo {
		margin: 10px auto;
		/* Remove logo padding */
		border: none;
		width: 80px;
		height: 80px;
	}

	.row {
		margin: 15px -15px 0;
	}
}