/*
Author: Erling Tokheim
Author URI: http://erling.tokheim.no
Description: A simple portfolio page
Version: 1.0
License: All rights reserved
License URI: All rights reserved
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Setup
# Typography
# Header
# Content
	## Featured
# Footer
# Responsive
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Setup
--------------------------------------------------------------*/
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

img {
	max-width: 100%;
}

.row {
	margin: 15px -30px 0;
}

.container {
	/*
		The .rows are overflowing the .container because of a
		negative margin in order to work around the left and
		right margin from .col-*

	*/
	overflow: hidden;
}

#normal_content_container {
	background-color: #fff;
	position: relative;
	z-index: 100;
}

hr {
	margin: 50px -30px;
	border-top: 3px solid #7d97ad;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
html {
	font-size: 100%;
}


h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}

h1 {
	font-weight: 100;
	font-size: 300%;
}

h2 {
	color: #2d3c49;
}

h3 {
	color: #7d97ad;
}

h4 {

}

.text-right {
	text-align: right;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
	border-bottom: 3px solid #7d97ad;
}

.logo {
	width: 125px;
	height: 125px;

	/* Gives the logo some padding */
	border: 30px solid transparent;
}

.logo_mini {
	width: 2em;
	height: 2em;
	display: inline;
	margin: 0 .75em;
}

#header_title {
	margin: 15px 0 0 0;
	letter-spacing: 2;
}

#header_subtitle {
	margin: 0px 0;
	letter-spacing: 3;
	font-weight: 100;
}


/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/*------------------
## Featured
------------------*/
#hero_img, .featured_work_entry_img {
	min-width: 100%;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer_container {
	width: 100%;
	height: 250px;
	position: relative;
}

#footer {
	width: 100%;
	height: inherit;
	position: fixed;
	background-color: #2d3c49;
	bottom: 0;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}


/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media (max-width: 992px) {
	#featured_work {
		width: 80%;
		max-width: 500px;
		margin: 0 auto;
	}
}


@media (max-width: 768px) {
	html {
		font-size: 80%;
	}
	
	#header_title {
		text-align: center;
	}

	#header_subtitle {
		margin-bottom: 30px;
		text-align: center;
	}

	.logo {
		margin: 10px auto;
		/* Remove logo padding */
		border: none;
		width: 80px;
		height: 80px;
	}

	.row {
		margin: 15px -15px 0;
	}
}